{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block css %}
<link rel="stylesheet" href="{% static 'deps/css/about.css' %}">
{#    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">#}
{% endblock %}



{#{% block css %}#}
{#    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">#}
{#{% endblock %}#}

{#{% block model_cart %}#}
{#    {% include 'includes/cart_button.html' %}#}
{#{% endblock %}#}

{#{% block content %}#}
{#    <div class="mt-5 pt-5 bg-white custom-shadow rounded">#}
{#    <h2 class="mt-2"><strong>{{ content }}</strong></h2>#}
{#    <p class="mt-2">{{ text_on_page }}</p>#}
{#    </div>#}
{##}
{#{% endblock %}#}
{% block content %}
    <div class="container mt-5 pt-5 bg-white custom-shadow rounded">
        <h2><strong>{% translate "Про нас" %}</strong></h2>
        <p>{% translate "Привіт усім!" %}</p>
        <p>{% translate "Ми − команда, яка пропонує якісне військове спорядження, елементи захисту та полігонне обладнання власного виробництва. Ми захищаємо життя тих, хто захищає нашу країну, та підходимо до своєї справи максимально відповідально." %}</p>
        <p>{% translate "Маємо чітку місію − надавати захисникам якісний та перевірений товар!" %}</p>
        <p>{% translate "Ми знаємо, що на полі бою кожен стібок, кожен розріз мають значення. Ось чому ми не йдемо на компроміси в проектуванні, тестуванні та виробництві нашого тактичного обладнання і працюємо, чітко дотримуючись міжнародних стандартів, щоб дати вам найкраще." %}</p>

        <h3>{% translate "Асортимент тактичного спорядження" %}</h3>
        <p>{% translate "Комплект тактичного спорядження призначений для максимальної зручності та захисту військовослужбовця, а також для носіння зброї та боєприпасів, зберігання додаткових інструментів, необхідних у польових умовах та під час військових дій." %}</p>
        <p>{% translate "Придбати якісну амуніцію за доступною ціною ви можете у нашому інтернет-магазині. Асортимент військової продукції включає:" %}</p>
        <ul>
            <li>{% translate "плитоноски" %}</li>
            <li>{% translate "бронежилети" %}</li>
            <li>{% translate "бронеплити" %}</li>
            <li>{% translate "військові шоломи" %}</li>
            <li>{% translate "балістичні пакети" %}</li>
            <li>{% translate "сумки-напашники" %}</li>
            <li>{% translate "тактичні пояси та плечові ремені" %}</li>
            <li>{% translate "підсумки" %}</li>
            <li>{% translate "тактичні рюкзаки та сумки" %}</li>
            <li>{% translate "активні навушники" %}</li>
            <li>{% translate "тактичні наколінники" %}</li>
            <li>{% translate "тактичне взуття" %}</li>
            <li>{% translate "одяг та аксесуари для військовослужбовців" %}</li>
        </ul>
        <p>{% translate "Ми не тільки продаємо військову амуніцію, але й займаємося її виробництвом, суворо контролюючи рівень якості та орієнтуючись на реальні потреби бійців. Наші фахівці постійно вдосконалюють продукцію та займаються розробкою новинок, що дозволяє регулярно поповнювати та розширювати асортимент." %}</p>

        <h3>{% translate "Кому підійде продукція "%}</h3>
        <p>{% translate "Військове спорядження від нашої компанії розраховане на наступні категорії покупців: "%}</p>
        <ul>
            <li>{% translate "військовослужбовці − основна цільова аудиторія магазину "%}</li>
            <li>{% translate "туристи та мандрівники "%}</li>
            <li>{% translate "рибалки та мисливці "%}</li>
            <li>{% translate "дослідники, які працюють у польових умовах "%}</li>
            <li>{% translate "шанувальники спортивних військових ігор "%}</li>
            <li>{% translate "любителі практичного та функціонального одягу в стилі мілітарі "%}</li>
        </ul>
        <p>{% translate "Крім того, армійське спорядження може використовуватися для зйомок фільмів і серіалів, постановок вистав, проведення фотосесій. Оскільки військове екіпірування дуже практичне, зручне і функціональне, цивільні особи часто використовують його для важкої роботи, поїздок, походів та іншої фізичної активності. "%}</p>

        <h3>{% translate "Інтернет-магазин військового спорядження "%}</h3>
        <p>{% translate "Військове екіпірування являє собою широку групу виробів − від бронежилета до тактичних навушників та окулярів. Переглядати та вибирати продукцію зручно в онлайн-каталозі, розділеному на категорії та підкатегорії. Зручна система пошуку допоможе відфільтрувати товари за кольором, ціною та іншими характеристиками. "%}</p>
        <p>{% translate "Кожна позиція супроводжується детальним описом та характеристиками, а також якісними фотографіями. Також на нашому сайті можна почитати відгуки покупців про товари. Щоб отримати додаткову інформацію або проконсультуватися щодо вибору, зв`яжіться з нашими менеджерами за телефоном. "%}</p>

        <h3>{% translate "Переваги покупки спорядження "%}</h3>
        <ul>
            <li>{% translate "Більше 10 000 відгуків від військових. "%}</li>
            <li>{% translate  "Якісне спорядження власного виробництва. "%}</li>
            <li>{% translate "Швидко оформляємо замовлення та забезпечуємо оперативну доставку в будь-який куточок України. "%}</li>
            <li>{% translate  "Пропонуємо зручні способи оплати та можливість повернути товар протягом двох тижнів (якщо на ньому відсутні сліди експлуатації). "%}</li>
            <li>{% translate "Дотримуємося інтересів наших клієнтів, оскільки зацікавлені у тривалій та плідній співпраці! "%}</li>
        </ul>

        <h3>{% translate "Інформація про компанію "%}</h3>
        <p>{% translate  "Назва: магазин військового спорядження "%}</p>
        <p>{% translate  "Тип компанії: Компанія, що надає послуги, Виробник "%}</p>

{#        <h3>Контактна інформація</h3>#}
{#        <p>Телефон: +38 (0XX) XXX-XX-XX</p>#}
{#        <p>Email: contact@company.com</p>#}
{#        <p>Адреса: м. Київ, вул. Примірна, 10</p>#}
    <div class="home-sci">
    <a href="https://www.youtube.com/@ukrarmor" target="_blank"><i class='bx bxl-youtube'></i></a>
    <a href="https://www.instagram.com/ukr_armor?igsh=MTZiMnpxbmhqanM0aA==" target="_blank"><i class='bx bxl-instagram'></i></a>
    <a href="https://t.me/ukr_armor_info" target="_blank"><i class='bx bxl-telegram'></i></a>
</div>


    </div>



{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Nazarii Humen 2024</p>
        </div>
    </footer>
{% endblock %}



